aside {
    width: 10%;
    border-right: 2px solid darkgray;
}
.sidebar-icons-group{
    top:15%;
    border-bottom:1px dashed purple;
}
.sidebar-boxes{
    height:80px;
    border-top:1px dashed purple;
    line-height:80px;
    text-align:center;
    color:purple;
}